altgraph==0.17.5
charset-normalizer==3.4.4
colorama==0.4.6
django-qrcode==0.3
et_xmlfile==2.0.0
mysql-connector-python==9.5.0
numpy==2.3.5
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandas-stubs==2.3.3.251219
pefile==2024.8.26
pillow==12.0.0
psycopg2-binary==2.9.11
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
pyzbar==0.1.9
qrcode==8.2
reportlab==4.4.7
setuptools==80.9.0
six==1.17.0
ttkbootstrap==1.19.2
types-pytz==2025.2.0.20251108
tzdata==2025.3
